<md-toolbar class="toolbar" color="primary">
  <button md-icon-button mdTooltip="Home">
          <img src="assets/icons/logo.svg">
</button>
  <div class="flex-auto"></div>
  <button md-icon-button mdTooltip="New List">
        <md-icon>library_add</md-icon>
      </button>
  <div class="flex-auto"></div>
  <button md-icon-button mdTooltip="Your Profile">
        <md-icon>account_circle</md-icon>
      </button>
  <button md-icon-button mdTooltip="Settings">
        <md-icon>settings</md-icon>
      </button>
</md-toolbar>

<home-component></home-component>
