<div class="login-container" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div [@fallIn] class="login-menu" fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div>
                <img width="80" height="80" src="../assets/icons/logo.svg">
            </div>
            <br />
            <div class="login-button" (click)="login()">
                <img width="191" height="46" src="../assets/images/sign_google.png">
            </div>
    </div>
</div>
