<md-toolbar class="toolbar" color="primary">
    <button routerLink="home" routerLinkActive="active" md-icon-button mdTooltip="Home">
        <img src="assets/icons/logo.svg">
    </button>
    <div class="flex-auto"></div>
    <button routerLink="search" routerLinkActive="active" md-icon-button mdTooltip="Search">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </button>
    <div class="flex-auto"></div>
    <button outerLink="profile" routerLinkActive="active" md-icon-button mdTooltip="Your Profile">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </button>
    <button routerLink="add" routerLinkActive="active" md-icon-button mdTooltip="New">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
    </button>
</md-toolbar>
<router-outlet></router-outlet>
