/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/css/material-icons.css';
html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
